
.photo__image{
    width: 284px;
    height: 213px;
    }
    @media screen and (max-width: 800px){
      .photo__image{
        width: 352px;
        height: 264px;
      }
    }
    @media screen and (max-width: 370px){
      .photo__image{
        width: 288px;
        height: 216px;
      }
    }
    /*
    .photo-grid__item {
      
      width: 100%;
      object-fit: cover;
      object-position: top;
    }
    */