@import url(./__image/place__image.css);
@import url(./__link/places__link.css);
@import url(./__text/places__text.css);
@import url(./__title/places__title.css);
@import url(./__url-heading/places__url-heading.css);
@import url(./__url/place__url.css);
@import url(./__texts/place__texts.css);

.place {
    display: grid;
    grid-gap: 48px 40px;
    grid-template-columns: 460px 1fr;
    grid-auto-rows: max-content;
    margin-bottom: 48px;
    justify-content: center;
  }
  @media screen and (max-width: 400px){
    .place{
      display: flex;
      flex-direction: column;
  
    }
  }
  .place:last-child {
    margin-bottom: 0;
  }
  @media screen and (max-width: 768px){
.place {
  grid-template-columns: 340px 352px;
  margin-bottom: 72px;
}
}