.intro__title {
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 900;
  color: white;
  font-size: 54px;
  line-height: 58px;
  text-align: left;
  }
  
  @media screen and (max-width: 375px) {
    .intro__title {
      font-size: 32px;
      line-height: 35px;
    }
  }
  